@import url(animations/main_anim.css);

.menu-top__title {
  font-weight: lighter;
  color: #593825;
  text-align: center;
  font-size: 5vw;
  width: 100vw;
  margin-top: 20px;
}

body {
  background-color: #f2f2f2;
}

.top-container {
  width: 100vw;
  border-bottom-style: groove;
}

.menu-nav {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav__btn {
  border: none;
  width: 25%;
  height: 2.5vh;
  margin: 10px 10px;
  background-color: #a6826d;
  border-radius: 30px;
}

.menu-nav__btn:hover {
  width: 25vw;
  background-color: #8c5f37;
  color: white;
  transition: width 0.5s ease;
  text-decoration: underline;
}

.menu-nav__btn:not(:hover) {
  width: 15vw;
  transition: width 0.5s ease;
}

.menu-nav__btn:first-child {
  animation: btn-fade-in 0.25s ease-in;
}

.menu-nav__btn:nth-child(2) {
  animation: btn-fade-in 0.25s ease-in;
}

.menu-nav__btn:nth-child(3) {
  animation: btn-fade-in 0.25s ease-in;
}

.menu-nav__btn:last-child {
  animation: btn-fade-in 0.25s ease-in;
}

.main-picture__menu {
  display: flex;
  justify-content: center;
  position: relative;
  height: 35vw;
}

.picture-menu__btn {
  position: relative;
  width: 25%;
  height: 100%;
  background-color: #a6826d;
  padding: 0px 10px;
  margin: 0px 10px;
  border-style: none;
}

.effect-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  pointer-events: none;
  font-size: 30px;

  text-align: right;
  vertical-align: bottom;
  color: aliceblue;
}
.picture-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.picture-panel:hover ~ .effect-panel {
  height: 20%;
  transition: height 0.25s ease-in-out;
}

.picture-panel:not(:hover) ~ .effect-panel {
  height: 100%;
  transition: height 0.25s ease-in-out;
}
