@import url(animations/main_anim.css);

header {
  font-size: 55px;
  font-weight: lighter;
  color: #593825;
  text-align: center;
  text-decoration: underline;
}

body {
  background-color: #f2f2f2;
}

.main-notice__parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-child {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-color: #a6826d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 5px;
  animation: color-fadeIn-anime 0.5s ease;
}

.notice-img {
  width: 30vw;
  height: 30vh;
  animation: notice-img-fadeInOut 2 ease-in-out;
}

.menu-btns {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btns__category {
  border: none;
  font-size: 55%;
  width: 15vw;
  height: 5vh;
  margin: 10px 10px;
  background-color: #a6826d;
  border-radius: 30px;
}

.menu-btns__category:hover {
  width: 25vw;
  background-color: #8c5f37;
  color: white;
  transition: width 0.5s ease;
  text-decoration: underline;
}

.menu-btns__category:not(:hover) {
  width: 15vw;
  transition: width 0.5s ease;
}
.menu-btns__category:first-child {
  animation: btn-fade-in 0.25s ease-in;
}
.menu-btns__category:nth-child(2) {
  animation: btn-fade-in 0.25s ease-in;
}
.menu-btns__category:nth-child(3) {
  animation: btn-fade-in 0.25s ease-in;
}
.menu-btns__category:last-child {
  animation: btn-fade-in 0.25s ease-in;
}
